{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "warn",
            "never"
        ],
        "no-undef": "warn",
        "no-console": "off",
        "strict": ["warn", "never"],
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "react/react-in-jsx-scope": "warn"
    }
}